
.slide-container {
  height: 100%;
  width: 100%;
  margin: auto; }

.map{
  width: 50%;
  margin: auto;
}

body html {
    height: 100%;
}

body{
  background-image: url("http://bryanortiz.me/bgt3.png")
}
